<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Candystore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>13306E1C1DB2246C0042B5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13306E351DB2246D0042B5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>13306E401DB2246D0042B5AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
